cosmos.lavier.tech {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Robots-Tag "index, follow"
		-Server
	}

	log {
		output file /data/logs/cosmos.log {
			roll_size 10mb
			roll_keep 5
		}
		format json
	}

	@ws path /ws/*
	handle @ws {
		reverse_proxy cosmos-api:8080
	}

	@rpc path /cosmos.v1.* /cosmos.v1.CosmosService/*
	handle @rpc {
		reverse_proxy cosmos-api:8080
	}

	@health path /healthz
	handle @health {
		reverse_proxy cosmos-api:8080
	}

	handle {
		reverse_proxy cosmos-frontend:3000 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Port 443
		}
	}
}

next.cosmos.lavier.tech {
	encode zstd gzip

	log {
		output file /data/logs/cosmos-canary.log {
			roll_size 10mb
			roll_keep 5
		}
		format json
	}

	@ws path /ws/*
	handle @ws {
		reverse_proxy cosmos-api-canary:8080
	}

	@rpc path /cosmos.v1.* /cosmos.v1.CosmosService/*
	handle @rpc {
		reverse_proxy cosmos-api-canary:8080
	}

	@health path /healthz
	handle @health {
		reverse_proxy cosmos-api-canary:8080
	}

	handle {
		reverse_proxy cosmos-frontend-canary:3000 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Port 443
		}
	}
}
